# Manipulacao de dados
pandas
numpy

# Processamento de imagens
pillow
opencv-python

# Visualizacao de dados
matplotlib
seaborn

# Machine Learning
scikit-learn
scikit-image
keras-tcn # TCN para Keras
tensorflow
torch

# Outros
scipy
pydot